@import url('https://fonts.googleapis.com/css?family=Palanquin');

body {
  background-color: #D03538;
  color: #FFF;
  margin: 0;
  font-family: "Palaquin", sans-serif;
  min-height: 100vh;
}
.hidden {
  display: none;
}

#content {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.search::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.close::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 0;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
#results {
  list-style-type: none;
  transform: translateX(-100%);
  padding: 0 0 1.5em;
  margin: 0;
}
#results li {
  padding-left: 1rem;
  position: relative;
  -webkit-transition: all 150ms ease-in-out;
  -webkit-transform: scale(1);
  -ms-transition: all 150ms ease-in-out;
  -ms-transform: scale(1);
  -moz-transition: all 150ms ease-in-out;
  -moz-transform: scale(1);
  transition: all 150ms ease-in-out;
  transform: scale(1);
}
#results li:hover {
  cursor: pointer;
  z-index: 2;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
  padding-left: 38px;
}
#results li .wheels {
  width: 1.5em;
  position: absolute;
  margin-left: 5px;
}
#definitions {
  position: absolute;
  top: 3em;
  list-style-type: none;
  width: 400px;
}
#tippy {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1s;
  animation-duration: .3s, 1s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
#tippy.hide {
  -webkit-animation: fadeOutUp 1.2s ease both;
  animation: fadeOutUp 1.2s ease both;
}
.tippy-tooltip {
  font-size: 0.95rem;
}
.tippy-tooltip.info-theme * {
  margin: 0;
  text-align: left;
}
.tippy-tooltip.info-theme a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#info {
  width: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-cursor: pointer;
  cursor: pointer;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
  }
  50% {
    -webkit-transform:translateY(-4px);
    transform:translateY(-4px);
  }
  100% {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
  }
  50% {
    -webkit-transform:translateY(-4px);
    transform:translateY(-4px);
  }
  100% {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
